<!DOCTYPE html><html>
<head>
    <title>Devin 4 Heisman</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .content {
          max-width: 500px;
          margin: auto;
        }
     </style>
</head>
<body style="background: red; color: white;">
    <div class="content">
        <h1>&#127944; LearyForHeisman.com &#127944;</h1>

        <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/college-football/players/full/4361653.png&w=350&h=254"
            alt="Oops something went wrong!">

        <!--how to forget the marquee 💚 -->
        <marquee>3,000 Yard Passer, 35 single season TDs, 7:1 TD to INT ratio, NC state record 6 TD game </marquee>

        <p>Some Fun Facts:</p>

        <ul>
            <li>Great Hair</li>
            <li>Large Hands</li>
            <li>Dog</li>
        </ul>
        
        <h1> Week 2</h1>
        <ul>
            <li>NC State record 6 TDs</li>
            <li>238  passing yards</li>
            <li>4 passing, 2 rushing TDs</li>
        </ul>

        <p>More at <a href="https://www.dlearydelivers.com">https://www.dlearydelivers.com</a></p>
    </div>
</body>
</html>